.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: blue;
  color: white;
  padding: 20px 20px;
  width: 100%;
}

.un-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: white;
}

.un-list li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: white;
}
